.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label{
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1px;
}


input{
    border: 1px double grey;
    outline: none;
    padding: 10px 12px;
    font-size: 1rem;
    border-radius: 5px;
    
}

input:hover{
    border: 1px solid rgb(192, 186, 186);
    
}

input:focus{
    border: 1px solid rgb(8, 203, 96);
}

.body{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}